html, body {
    background-color: #333333;
    color: #D9D9D9;
    font-family: 'Andale Mono', 'Arial';
    font-size: 16px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.frame {
    background-color: #D9D9D9;
    position: fixed;
    padding: 0;
    z-index: 100;
}

.frame-top, .frame-bottom {
    height: 1rem;
    width: 100vw;
    right: 0;
    left: 0;
}

.frame-right, .frame-left {
    height: 100vh;
    width: 1rem;
    top: 0;
    bottom: 0;
}

.frame-top {
    top: 0;
}

.frame-bottom {
    bottom: 0;
}

.frame-right {
    right: 0;
}

.frame-left {
    left: 0;
}

body > div[role="main"] {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}

body > div[role="main"] > p {
    text-align: center;
}

section:not(#fv) {
    margin-bottom: 8rem;
}

#fv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#fv h1 {
    font-size: 3rem;
    font-weight: normal;
    z-index: 1;
    mix-blend-mode: difference;
}

#fv img {
    height: 5rem;
    z-index: 1;
    mix-blend-mode: difference;
    fill: #D9D9D9;
}

/*#fv::before {*/
/*    content: url("../images/unisuke/unisuke_tear_l_high.png");*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 11rem;*/
/*    transform: scale(2);*/
/*}*/

.scroll-lead {
    position: absolute;
    bottom: 5rem;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        bottom: 5rem;
    }
    50% {
        bottom: 2.5rem;
    }
    100% {
        bottom: 5rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    position: relative;
}

#works h2::before, #practices h2:before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 15px;
    background: radial-gradient(#D9D9D9 30%, transparent 31%);
    background-size: 15px 15px;
    background-position: center;
}

#works > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3rem;
    margin-top: 4rem;
}

#works > div > div * {
    text-align: center;
}

#works img {
    width: 100%;
    border: black solid 2px;
    filter: grayscale(0.4);
    transition: .3s;
}

#works > div > div aside {
    border: #D9D9D9 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: inline-block;
}

#works a {
   display: contents;
}

#works a:hover img {
    filter: grayscale(0);
    transition: .3s;
}

#practices a {
    color: #D9D9D9;
    width: 50%;
    padding-top: 1rem;
    padding-bottom:1rem;
    border: #D9D9D9 1px solid;
    margin: 0 1rem;
    text-align: center;
    transition: .1s;
}

#practices a:hover {
    border: #7B6800 1px solid;
    background: linear-gradient(45deg, #333333 95%, #7B6800 5%);
    transition: .1s;
}

#practices > div {
    padding: 3rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#practices span {
    display: inline-block;
    margin-left: 2rem;
}

#about h2, #skills h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h2::before, #about h2::after {
    content: '';
    width: 5rem;
    height: 1px;
    background-color: #D9D9D9;
}

#about h2::before {
    margin-right: 2rem;
}

#about h2::after {
    margin-left: 2rem;
}

#about > div {
    display: flex;
    align-items: center;
}

#about > div img {
    width: 30%;
    object-fit: contain;
}

#about > div > div {
    width: 70%;
}

#about > div div p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#about > div div p:first-child {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#about > div div p span {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.5rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: #D9D9D9 1px solid;
    margin: 0.5rem 2rem;
}

td:first-child {
    width: fit-content;
}

td {
    padding: 0.5rem 1rem;
}

#skills h3 {
    text-align: center;
    margin-bottom: 0;
}

#skills > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5%;
    margin-bottom: 5rem;
}

#skills > div > * {
    align-self: center;
    justify-self: center;
}

#skills p {
    text-align: center;
}

#skills h2::before, #skills h2::after {
    content: '';
    width: 2rem;
    height: 1px;
    background-color: #D9D9D9;
    transform: rotate(60deg);
    margin: 0 1rem;
}

.pie_chart {
    margin: auto;
    width: 150px;
    height: 150px;
    background: transparent linear-gradient(90deg, transparent 50%, #7b6800 0);
    border: #D9D9D9 1px solid;
    border-radius: 50%;
}

.pie_chart::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    transform-origin: left;
    background-color: transparent;
    border-radius: 0 100% 100% 0 / 50%;
}

.pie_chart.c_25::before {
    background: #333333;
    transform: rotate(90deg);
}

.pie_chart.c_75::before {
    background: #7B6800;
    transform: rotate(90deg);
}

#links h2 {
    background: linear-gradient(-45deg, transparent 25%, #D9D9D9 25%, #D9D9D9 50%, transparent 75%, #D9D9D9 75%) left bottom/5px 5px repeat-x;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: auto;
}

#links div {
    margin-top: 2rem;
    text-align: center;
}

#links a {
    color: #D9D9D9;
    display: inline-block;
    margin: 1rem 1rem;
}

@media screen and (max-width: 767px) {

    .frame-top, .frame-bottom {
        height: 0.5rem;
    }

    .frame-right, .frame-left {
        width: 0.5rem;
    }

    #fv {
        flex-direction: column;
    }

    #fv h1 {
        margin-top: 0rem;
        font-size: 2rem;
    }

    #about > div {
        flex-direction: column;
    }

    #about > div > div {
        width: 100%;
    }
}

/* asobi */

header.lower-header a {
    position: fixed;
    color: #D9D9D9;
    padding-top: 1.375rem;
    padding-bottom: 2.625rem;
    display: inline-block;
    top: 2rem;
    left: 2rem;
    border: #707070 1px solid;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1rem;
    width: 4rem;
    height: 0;
    text-align: center;
    pointer-events: auto;
    text-decoration: none;
}

#asobi-fv {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

#asobi h3 {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    position: relative;
    z-index: 1;
}

#asobi h3 span {
    font-size: 3rem;
}

.demo-source-wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.demo-source-wrap > div {
    width: 47.5%;
    height: 300px;
}

.demo-source-wrap > div:first-child {
    margin-right: 5%;
}

.demo-source-wrap > div > p {
    padding: 5px 2rem;
    border: #707070 1px solid;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 0.5rem;
}

.demo, .source {
    border: #707070 1px solid;
    border-radius: 10px;
    height: 100%;
}

.demo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.source-selection {
    padding: 1rem;
}

.source-selection a {
    border: #707070 1px solid;
    border-radius: 50%;
    background-color: transparent;
    font-size: 0.75rem;
    width: 3rem;
    height: 0;
    padding-top: 1.125rem;
    padding-bottom: 1.875rem;
    display: inline-block;
    text-align: center;
    pointer-events: auto;
}

.source-selection a.active {
    background-color: #D9D9D9;
    color: #333333;
}

.html, .css, .js {
    counter-reset: row;
    margin: 0 1rem 1rem 1rem;
    display: none;
    overflow: auto;
    height: 200px;
}

.html.active, .css.active, .js.active {
    display: block;
}

.source-code span {
    counter-increment: row;
    display: block;
    line-height: 1.5rem;
    white-space: nowrap;
}

.source-code span:before {
    content: counter(row, decimal-leading-zero)'.';
    display: inline-block;
    margin-right: 1rem;
}

@media screen and (max-width: 767px) {
    #asobi h3 span {
        display: block;
    }

    .demo-source-wrap {
       flex-direction: column;
    }

    .demo-source-wrap > div {
        width: 100%;
    }

    .demo-source-wrap > div:first-child {
        margin-right: 0;
        height: auto;
    }
}

.menu {
    margin: 4rem 0 2rem 0;
    display: block;
    height: calc(2rem + 2px);
    width: fit-content;
}

.menu-line {
    width: 5rem;
    height: 2px;
    background-color: #7B6800;
    display: block;
    position: relative;
    transition: .5s;
}

.menu-line:before, .menu-line:after {
    content: '';
    width: 5rem;
    height: 2px;
    background-color: #7B6800;
    position: absolute;
    transition: .5s;
}

.menu-line:before {
    bottom: -1rem;
}

.menu-line:after {
    bottom: 1rem;
    opacity: 1;
}

.menu.active .menu-line {
    transform: rotate(45deg);
    transform-origin: center;
    transition: .5s;
}

.menu.active .menu-line:before {
    bottom: 0;
    transform: rotate(-90deg);
    transition: .5s;
}

.menu.active .menu-line:after {
    position: static;
    transform: rotate(-90deg);
    opacity: 0;
    transition: .5s;
}

#cursor {
    transform: translate(0, 0);
    pointer-events: none;
    position: fixed;
    top: -6px;
    left: -6px;
    width: 12px;
    height: 12px;
    background: rgba(217, 217, 217, 0.75);
    border-radius: 50%;
    z-index: 999;
    transition: width .3s, height .3s, top .3s, left .3s;
}

#cursor.hover{
     top: -16px;
    left: -16px;
    width: 36px;
    height: 36px;
    background: rgba(123,104,50,0.75);
}

#asobi, #asobi a{
    cursor: none;
}
