html, body {
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    margin: 0;
    font-family: "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho" , 'Noto Serif JP' , serif;
}

* {
    box-sizing: border-box;
}

.content-area {
    width: 100vw;
    max-width: 1440px;
    padding: 0 3rem;
    margin: auto;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.js-animation {
    opacity : 0;
    transform : translate(0, 10px);
    transition : all .8s linear;
}

.js-animation.is-show {
    opacity : 1;
    transform : translate(0, 0);
}

section:not(#first), footer {
    padding: 8rem 0;
}

section#video, footer {
    padding-bottom: 0;
}

h5 {
    font-family: 'Futura PT';
    letter-spacing: 0.5rem;
}

.education-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    position: absolute;
    border: #aaaaaa 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 100%;
    left: -5rem;
}

.education-link div {
    text-align: start;
    line-height: 1.5rem;
    letter-spacing: 0.5rem;
}

.education-link div > p:nth-child(3) {
    margin-bottom: 2rem;
}

.page-link {
    font-size: 1rem;
    color: #FA6A18;
    letter-spacing: 1rem;
    position: relative;
    padding-bottom: 1rem;
    vertical-align: text-top;
    font-family: 'Futura PT';
}

.page-link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FA6A18;
    position: absolute;
    bottom: 0;
    left: -0.5rem;
}

.menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    color: #fff;
    overflow-y: auto;
}

.menu a {
    display: block;
}

.menu .close-btn {
    padding: 2rem 4rem;
    margin-left: auto;
    width: fit-content;
    justify-self: start;
}

.menu .link-group {
    margin-right: auto;
    padding: 5rem 0 0 20%;
}

.menu .link-group a {
    font-size: 3rem;
    line-height: 2em;
}

#first {
    height: 100vh;
    width: 100vw;
    background: url("../images/natori/top/first-view.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, #000626, transparent);
    z-index: 50;
}

header > * {
    min-width: 10rem;
}

header > a:last-child {
    text-align: end;
}

header, .sns-wrap {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.lower-header {
    position: fixed;
    color: #D9D9D9;
    padding-top: 1.375rem;
    padding-bottom: 2.625rem;
    display: inline-block;
    top: 2rem;
    left: 2rem;
    border: #707070 1px solid;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1rem;
    width: 4rem;
    height: 0;
    text-align: center;
    pointer-events: auto;
    text-decoration: none;
    z-index: 100;
}

.sns-wrap {
    z-index: 1;
}

.sns-wrap div a {
    display: inline-block;
    margin-right: 3rem;
}

h1 {
    font-size: 5.5rem;
    margin: auto;
    display: block;
    width: fit-content;
    position: relative;
    z-index: 0;
    letter-spacing: 1rem;
}

h1:before {
    content: '';
    width: 3px;
    height: 40rem;
    background-color: #FF5D00;
    position: absolute;
    top: -60%;
    left: 15%;
    transform: rotate(25deg);
    z-index: -1;
}

.first-center__wrap {
    width: 80%;
    position: relative;
    margin: auto;
}

.first-center__note, .first-center__media-link {
    width: fit-content;
    margin-left: auto;
    text-align: end;
}

.first-center__note {
    font-size: 1rem;
    letter-spacing: 2rem;
}

.first-center__note p:first-child {
    padding: 4rem 0;
}

.first-center__media-link {
    padding-right: 10rem;
}

.first-center__media-link * {
    font-size: 2.5rem;
    border-bottom: #fff 2px solid;
}

#about {
    text-align: center;
}

#about .content-area > p:nth-child(2) {
    font-size: 6rem;
}

#about .content-area > p:nth-child(3) {
    font-size: 4rem;
    padding-bottom: 3rem;
}

#about a {
    font-size: 2rem;
}

section#video {
    background-color: #000000;
    color: #fff;
}

#video .content-area > p {
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    font-family: 'Futura PT';
}

.video-lead {
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 5rem;
}

.video-lead p {
    font-size: 3rem;
}

.video-lead h5 {
    color: #FA6A18;
    padding-bottom: 5rem;
}

.video-wrap {
    position: relative;
}

.video-wrap > div {
    font-family: 'Futura PT';
    letter-spacing: 0.5rem;
    line-height: 3rem;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)!important; /*上下左右中央寄せ*/
    text-align:center;
}

.video-wrap > div p:last-child {
    margin-top: 2rem;
}

.our-products__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-products__contents > div:first-child {
    font-size: 4rem;
}

.our-products__contents > div:first-child p {
    border-bottom: 2px #000000 solid;
}

.our-products__contents > div:last-child {
    line-height: 5rem;
    font-family: 'Futura PT';
    letter-spacing: 1rem;
}

#product, #message {
    background-color: #E8E8E8;
}

#product .content-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product .content-area > * {
    width: 50%;
}

.leader img {
    width: 100%;
}

.leader > p {
    padding-left: 3rem;
}

.leader > p:nth-child(2) {
    padding-top: 2rem;
    font-size: 1.5rem;
}

.base-lead {
    text-align: center;
}

.base-lead img {
    width: 50%;
    margin-bottom: 3rem;
}

.base-lead p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.base-lead p.base-lead__note {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 4rem;
}

#message .content-area {
    text-align: center;
}

#message p.message-title {
    font-size: 6rem;
}

#message p.message-main {
    font-size: 4rem;
}

#message .content-area > div p {
    line-height: 3rem;
    font-family: 'Futura PT';
    letter-spacing: 1rem;
}

#message .content-area > div {
    margin: 2rem 0;
}

footer {
    background-color: #000000;
    color: #fff;
}

footer .content-area {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.history {
    color: rgba(256, 256, 256, 0.5);
}

.history p {
    line-height: 5rem;
    font-family: 'Futura PT';
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.history p:not(.history p:first-child) {
    padding-left: 1.5rem;
}

.link-and-sponsors {
    padding-top: 15rem;
    text-align: center;
}

.link-and-sponsors a {
    display: block;
    font-size: 3rem;
    line-height: 1.2em;
}

.link-and-sponsors > div {
    margin: 8rem 0 3rem 0;
    line-height: 2rem;
    font-family: 'Futura PT';
    letter-spacing: 0.5rem;
}

.link-and-sponsors > div:last-child {
    margin-top: 3rem;
}

#first.lower h1 {
    padding-bottom: 7rem;
    padding-right: 15rem;
}

#first.lower .education-link {
    top: 5rem;
    right: 0;
    left: auto;
}

#concept .content-area {
    text-align: center;
}

#concept p {
    letter-spacing: 0.5rem;
    line-height: 2rem;
}

#concept .content-area >p:nth-child(2) {
    font-size: 5rem;
    line-height: 10rem;
}

#concept .content-area > p:nth-child(3), #concept .content-area > p:nth-child(4) {
    font-size: 3.5rem;
    line-height: 5rem;
}

#concept .content-area > div {
    margin-top: 8rem;
}

#concept .content-area > div > p:nth-child(2), #concept .content-area > div > p:nth-child(4), #concept .content-area > div > p:nth-child(6) {
    margin-bottom: 2rem;
}

#concept p.more {
    margin-top: 3rem;
    font-size: 1rem;
    color: #FA6A18;
    letter-spacing: 2rem;
    position: relative;
    padding-bottom: 1rem;
    font-family: 'Futura PT';
}

#concept p.more:after {
    content: '';
    width: 2px;
    height: 5rem;
    position: absolute;
    background-color: #FA6A18;
    left: calc(50% - 1rem);
    top: 6rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section#media {
    background-color: #000000;
    padding-bottom: 15rem;
}

#media .content-area {
    text-align: center;
    color: #fff;
}

#media h3 {
    font-size: 3rem;
    font-weight: normal;
}

#media p {
    line-height: 2em;
}

#media p:nth-child(2n) {
    font-size: 2rem;
    margin-top: 2rem;
}

#symbolic-img {
    position: relative;
}

#symbolic-img img {
    display: block;
    width: 50%;
    margin: 0 auto 3rem auto;
    position: relative;
    top: -5rem;
}

#symbolic-img:before {
    content: '';
    width: 3px;
    height: 50rem;
    background-color: #FF5D00;
    position: absolute;
    bottom: 80%;
    right: 25%;
    transform: rotate(25deg);
    z-index: 1;
}

@media screen and (max-width:1440px) {
    .our-products__contents > div:first-child {
        font-size: 3rem;
    }
}

@media screen and (max-width:1200px) {
    .education-link {
        top: -2rem
    }

    .history p {
        line-height: 4rem;
        letter-spacing: 1rem;
        font-size: 1rem;
    }

    .link-and-sponsors a {
        font-size: 2.5rem;
    }

    .our-products__contents {
        flex-direction: column;
        align-items: flex-start;
    }

    .our-products__contents > div:last-child {
        padding-top: 3rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 3.5rem;
        padding: 2rem;
    }

    .first-center__media-link * {
        font-size: 2rem;
    }

    #about .content-area > p:nth-child(2), #message p.message-title {
        font-size: 4rem;
    }

    #about .content-area > p:nth-child(3), #message p.message-main {
        font-size: 2.5rem;
    }

    #about a {
        font-size: 1.5rem;
    }

    #message .content-area > div p, .our-products__contents > div:last-child {
        letter-spacing: 0.5rem;
    }

    footer .content-area {
        display: flex;
        flex-direction: column;
    }

    .history {
        padding-bottom: 3rem;
    }

    .link-and-sponsors {
        padding-top: 3rem;
        text-align: left;
        padding-bottom: 2rem;
        border-top: #cccccc solid 1px;
    }

    .link-and-sponsors > div {
        margin: 3rem 0;
    }

    #concept .content-area >p:nth-child(2) {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    #concept .content-area > p:nth-child(3), #concept .content-area > p:nth-child(4) {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    #concept p.more {
        margin-top: 2rem;
        letter-spacing: 1rem;
    }

    #concept p.more:after {
        left: 50%;
        height: 3rem;
        top: 4rem;
    }

    #concept .content-area > div {
        margin-top: 6rem;
    }

    #media h3 {
        font-size: 2rem;
    }

    #media p:nth-child(2n) {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #symbolic-img:before {
        height: 35rem;
    }
}

@media screen and (max-width:768px) {

    section:not(#first), footer {
        padding: 5rem 0;
    }

    header {
        display: block;
        position: relative;
    }

    header > a {
        display: block;
        margin: 0 0 0.5rem 0;
    }

    header > a:last-child {
        position: absolute;
        top: 2rem;
        right: 4rem;
    }

    .first-center__wrap {
        width: 100%;
    }

    .first-center__note p:first-child {
        padding: 2rem 0;
    }

    .first-center__media-link {
        padding-right: 2rem;
    }

    .education-link {
        top: -15rem;
    }

    .first-center__media-link * {
        font-size: 1.5rem;
    }

    #about, #message .content-area  {
        text-align: left;
    }

    .sns-wrap {
        align-items: flex-end;
    }

    .sns-wrap div a {
        display: block;
        margin-bottom: 0.5rem;
    }

    #product .content-area {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #product .content-area > * {
        width: 80%;
    }

    .base-lead {
        padding-top: 5rem;
        text-align: center;
    }

    .base-lead img {
        width: 100%;
    }

    .menu .link-group a {
        font-size: 2rem;
        line-height: 2em;
    }

    #concept .content-area >p:nth-child(2) {
        font-size: 3rem;
        line-height: 4rem;
        padding-bottom: 1rem;
    }

    #concept .content-area > p:nth-child(3), #concept .content-area > p:nth-child(4) {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #symbolic-img img {
        width: 75%;
        top: -2rem;
    }

    #first.lower h1 {
        padding-right: 10rem;
        padding-left: 0;
    }
}

@media screen and (max-width:576px) {

    section:not(#first), footer {
        padding: 2.5rem 0;
    }

    .content-area {
        padding: 0 1.5rem;
    }

    h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    header > a:last-child {
        top: 2rem;
        right: 1rem;
    }

    header, .sns-wrap {
        padding: 2rem 1rem;
    }

    .first-center__note {
        letter-spacing: 1rem;
    }

    .first-center__note p:first-child {
        padding: 1rem 0;
    }

    .first-center__media-link * {
        font-size: 1rem;
    }

    .first-center__media-link br {
        display: none;
    }

    .menu .close-btn {
        padding: 2rem 1rem;
    }

    .education-link {
        width: 20rem;
        height: 20rem;
        left: -2rem;
    }

    #about .content-area > p:nth-child(2), #message p.message-title {
        font-size: 2.5rem;
    }

    #about .content-area > p:nth-child(3), #message p.message-main {
        font-size: 1.5rem;
    }

    #about a {
        font-size: 1rem;
    }

    .page-link {
        font-size: 0.5rem;
        letter-spacing: 0.5rem;
    }

    #video .content-area > p {
        letter-spacing: 0.5rem;
        margin-bottom: 1rem;
    }

    .video-lead p {
        font-size: 2rem;
    }

    .video-lead h5 {
        padding-bottom: 0;
    }

    .video-lead {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .video-lead img {
        width: 2em;
    }

    .video-wrap > div {
        line-height: 2rem;
    }

    .our-products__contents > div:first-child {
        font-size: 2rem;
    }

    .our-products__contents > div:last-child {
        padding-top: 1.5rem;
        line-height: 2rem;
    }

    #message .content-area > div {
        margin: 1rem 0;
    }

    #message .content-area > div p {
        line-height: 1.5rem;
        letter-spacing: 0.5rem;
    }

    .history p {
        line-height: 2rem;
        letter-spacing: 0.5rem;
    }

    .link-and-sponsors a {
        font-size: 2rem;
    }

    .base-lead {
        padding-top: 3rem;
        text-align: center;
    }

    .base-lead p.base-lead__note {
        margin-bottom: 2rem;
    }

    .base-lead p {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    #product .content-area > * {
        width: 100%;
    }

    #concept .content-area >p:nth-child(2) {
        font-size: 2rem;
        line-height: 3rem;
    }

    #concept p.more {
        margin-top: 1rem;
    }

    #concept .content-area > div {
        margin-top: 4rem;
    }

    #media .content-area {
        padding-bottom: 2rem;
    }

    #symbolic-img:before {
        right: 10%;
    }

    #first.lower h1 {
        padding-right: 0;
        text-align: center;
        margin-right: auto;
        margin-left: 1rem;
    }
}